*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}
@media (max-width: 992px) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 596px) {
  html {
    font-size: 53%;
  }
}
body {
  box-sizing: border-box;
  font-family: 'Open Sans', san-serif;
}
.cta-top {
  position: relative;
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
}
.cta-top__img {
  display: flex;
  padding: 3rem;
  width: 85%;
  height: 34rem;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 15%, #29303b 40%),
    url('../images/work.jpg');
  background-size: cover;
}
@media (max-width: 768px) {
  .cta-top__img {
    width: 100%;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 15%, #29303b 30%),
      url('../images/work.jpg');
  }
}
@media (max-width: 596px) {
  .cta-top__img {
    background-image: url('../images/work.jpg');
  }
}
.cta-top__textbox {
  position: absolute;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 45%;
  left: 10%;
  color: #f7f7f7;
  height: 30rem;
  align-items: center;
}
@media (max-width: 768px) {
  .cta-top__textbox {
    height: 34rem;
    width: 60%;
    left: 3rem;
  }
}
@media (max-width: 596px) {
  .cta-top__textbox {
    width: 100%;
    left: 0;
    padding: 2rem;
    background-color: rgba(41, 48, 59, 0.9);
  }
}
.cta-top__textbox--headline {
  font-size: 3.5rem;
}
.cta-top__textbox--story {
  font-size: 1.6rem;
}
.cta-top__textbox--button {
  height: 3.5rem;
  width: 36rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #f7f7f7;
  background-color: #1dace3;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}
.cta-top__textbox--button--button:hover {
  color: #1dace3;
  background-color: #f7f7f7;
}
.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 7rem;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.15);
}
.header__left {
  width: 30%;
}
.header__left--image {
  display: flex;
  width: 90%;
  cursor: pointer;
}
.header__center {
  display: flex;
  justify-content: center;
  width: 40%;
}
.header__right {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  padding-right: 4rem;
}
.header__right--cart {
  display: flex;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  align-self: center;
  margin-right: 1.6rem;
}
.header__right--login {
  height: 4rem;
  width: 12rem;
  border-radius: 10rem;
  background-color: #1dace3;
  color: #f7f7f7;
  border: none;
  font-weight: 800;
  font-size: 1.4rem;
  outline: none;
  --webkit-appearance: none;
  cursor: pointer;
  transition: all 0.4s;
}
.header__right--login:hover {
  background-color: #f7f7f7;
  color: #1dace3;
  border: 2px solid #1dace3;
}
.search__form--search {
  width: 28rem;
  height: 3rem;
  border: 2px solid #000;
  border-radius: 10rem;
  outline: none;
  padding-left: 4rem;
}
@media (max-width: 992px) {
  .search__form--search {
    width: 25rem;
  }
}
@media (max-width: 768px) {
  .search__form--search {
    width: 20rem;
  }
}
@media (max-width: 596px) {
  .search__form--search {
    width: 15rem;
  }
}
.search__form--search::placeholder {
  font-size: 1.5rem;
}
.search__form--search:focus {
  border: 2px solid #1dace3;
}
.search__form--search:focus::placeholder {
  color: rgba(255, 255, 255, 0);
}
.search__form--icon {
  position: absolute;
  height: 2rem;
  width: 2rem;
  transform: translate(1rem, 0.5rem);
}
